{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<script type="text/javascript" src="{% static 'javascript/jquery-3.6.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/axios.min.js' %}"></script>
<!DOCTYPE html>
<html lang="ko">
<head>
<title>JCMS Dashboard</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    * {
        box-sizing: border-box;
    }
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

	#log-area {
		height: 20em;
	}
</style>
<script type="text/javascript">
	function getLog(){
		axios({
			method:"GET",
			url: '{% url 'dashboard:log' %}?ctnName={{ container.name }}',
		}).then((res)=>{
			document.getElementById("log-area").value = res.data.log
		}).catch(error=>{
			document.getElementById("log-area").value = "Log load failed"
			throw new Error(error);
		});
	}
	{% if container.health == True %}
	// 컨테이너가 살아있을때 5초 간격으로 log 호출
		$(document).ready(
			function() {
				getLog()
				setInterval(getLog, 5000)
			}
		)
	{% else %}
	// 컨테이너가 죽었다면 한번만 호출하고 종료
		$(document).ready(
			getLog()
		)
	{% endif %}
</script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" href="{% url 'dashboard:list'%}">JCMS Dashboard</a>
<ul class="nav justify-content-end">
	<li class="nav-item">
	<a class="nav-link" data-toggle="modal" data-target="#ctnMakeModal" href="#">생성</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" data-toggle="modal" data-target="#ctnRemoveModal" href="#">제거</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" href="#" onclick="window.location.reload()">새로고침</a>
	</li>
	<li class="nav-item">
	<a class="nav-link" data-toggle="modal" data-target="#ctnEmailModal" href="#">이메일 보내기</a>
	</li>
</ul>
</nav>
<!-- Modal -->
<div class="modal fade" id="ctnMakeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">컨테이너 생성</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="post" class="post-form" action="/dashboard/make/">
                    {% csrf_token %}
					<div class="form-group" >
						<label for="containerNameField">컨테이너명</label>
						<input type="text" class="form-control" id="containerName" name="containerName"
                            value="{{ form.containerName.value|default_if_none:'' }}" placeholder="컨테이너명 입력">
					</div>
					<div class="form-group">
						<label for="containerNameField">컨테이너 포트</label>
						<input type="text" class="form-control" id="containerPort" name="containerPort"
                            value="{{ form.containerPort.value|default_if_none:'' }}" placeholder="컨테이너 포트 입력">
					</div>
					<div class="form-group">
						<label for="containerNameField">컨테이너 생성 요청자</label>
						<input type="text" class="form-control" id="clientName" name="clientName"
                            value="{{ form.clientName.value|default_if_none:'' }}" placeholder="생성 요청자 입력">
					</div>
					<div>
						<button type="submit" class="btn btn-primary">생성하기</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="ctnRemoveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">컨테이너 제거</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>
					현재 보이는 컨테이너를 제거 합니다.
				</p>
			</div>
			<div class="modal-footer">
				<form method="post" class="post-form" action="/dashboard/remove/">
					<input type="text" class="form-control" style="display: none" name="containerName" value="{{ container.name }}">
					<button type="submit" class="btn btn-danger">제거</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="ctnEmailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">이메일 발송</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>
					현재 보이는 컨테이너의 정보를 이메일로 발송합니다.
				</p>
			</div>
			<div class="modal-footer">
				<form method="post" class="post-form" action="/dashboard/email/">
					<input type="text" class="form-control" style="display: none" name="containerName" value="{{ container.name }}">
					<button type="submit" class="btn btn-primary">발송</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
				</form>
			</div>
		</div>
	</div>
</div>
<p>
</p>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3">
			<h5>컨테이너 리스트</h5>
			 {% if container_list %}
			<ul class="list-group list-group-flush">
				 {% for container in container_list %}
				<li class="list-group-item"><a href="{% url 'dashboard:detail' container.ctnId %}">{{ container }}</a></li>
				 {% endfor %}
			</ul>
			 {% else %}
			<ul class="list-group list-group-flush">
				 컨테이너 없음
			</ul>
			 {% endif %}
		</div>
		<div class="col-sm-9">
			<div class="d-flex justify-content-between" data-toggle="buttons">
				<h2>컨테이너 상태</h2>
				<form method="post" class="post-form" action="/dashboard/power/">
					{% csrf_token %}
					<input type="text" class="form-control" style="display: none" name="containerName" value="{{ container.name }}">
					<input type="text" class="form-control" style="display: none" name="containerHealth" value="{{ container.health }}">
					{% if container.health == True %}
						<button type="submit" class="btn btn-primary" disabled>시작</button>
						<button type="submit" class="btn btn-danger">정지</button>
					{% else %}
					<button type="submit" class="btn btn-primary">시작</button>
					<button type="submit" class="btn btn-danger" disabled>정지</button>
					{% endif %}
				</form>
			</div>
			<p></p>
			<div class="card shadow-sm" style="width: 100%;">
				<div class="card-body">
					<h2 class="card-title ">{{ container.name }}</h2>
					<h6 class="card-subtitle mb-2 text-muted">{{ container.ctnId }}</h6>
					<div>
					</div>
					{% if container.health == True %}
						상태: ON
					{% else %}
						상태: OFF
					{% endif %}
					<div>
					</div>
					 포트: {{ container.port }}
					<div>
					</div>
					 IP: {{ container.ip }}
					<div>
					</div>
					 Juptyer토큰: {{ container.jupyterToken }}
					<div>
					</div>
					 컨테이너 생성 요청자: {{ container.clientName }}
				</div>
			</div>
			<p>
			</p>
			<div class="card shadow-sm" style="width: 100%;">
				<div class="card-body">
					<h3 class="card-title">container log</h3>
					<textarea rows="3" class="form-control bg-light" id="log-area" readonly>log area</textarea>
					<a onclick='document.getElementById("log-area").scrollTop = document.getElementById("log-area").scrollHeight;' href="#">맨 아래로</a>
				</div>
		    </div>
	</body>
</html>